<!DOCTYPE html>
<html>
<head>    
    <link href="@Url.Content("~/css/StyleSheet.css")" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>
        <h1>Mohit Nargotra</h1>
        <h2>Welcome to my Lab 3!</h2>  
        <div class="test">
        @Html.ActionLink("Home", "Index", "Home") &nbsp;&nbsp;&nbsp;
        @Html.ActionLink("Show the song!", "SongForm", "Home") &nbsp;&nbsp;&nbsp;
        @Html.ActionLink("Persons", "CreatePerson", "Home")</div>
    </header>
    <div>
        @RenderBody()
    </div>
    <footer>
        <br><b>CSS and Layout</b>
        <br>To add css file, I created a wwwroot folder and then added a css file in that folder. 
        <br>For adding _Layout file, I created a Shared folder in Views directory. 
        <br>I then added a Razor layout file in there and linked the css file to the layout file.
        <br>The _Layout.cshtml contains the main layout for each page. 
        <br><br><b>Directory Structure</b>
        <br><b>Controllers</b> are in the Controllers directory because the URL routing will decide which
        <br>controller to use based on the C# classes' name in this directory.
        <br><b>Views</b> are in the Views directory because when View() is called from an action in the
        <br>controller, the corresponding view gets rendered.
        <br><b>_Layout.cshtml</b> should be put in Shared folder in Views folder because _ViewStart.cshtml
        <br>loads the layout file and it looks for it under shared folder.
        <br><br><b>Default Layout</b>
        <br>The default layout set by _ViewStart.cshtml for all the views is _Layout.cshtml. 

    </footer>
</body>
</html>
