@using Microsoft.AspNetCore.Http;

@{
    Layout = "_Layout";
}

@if (@Convert.ToInt32(Context.Session.GetString("numBottles")) >= 50 && @Convert.ToInt32(Context.Session.GetString("numBottles")) <= 100)
{

    @for (var i = @Convert.ToInt32(Context.Session.GetString("numBottles")); i > 0 ; i--)
    {
        if(i > 2){
        <p>
               @i green bottles hanging on the wall,
        <br>   @i green bottles hanging on the wall,
        <br>   And if one green bottle should accidentally fall,
        <br>   There'll be @(i-1) green bottles hanging on the wall.
        <br>
        <br>
        </p>
        }

        else if (i > 1)
        {
            <p>
                @i green bottles hanging on the wall,
                <br>   @i green bottles hanging on the wall,
                <br>   And if one green bottle should accidentally fall,
                <br>   There'll be @(i - 1) green bottle hanging on the wall.
                <br>
                <br>
            </p>
        }

        else{

        <p>
               1 green bottle hanging on the wall,
        <br>   1 green bottle hanging on the wall,
        <br>   And if one green bottle should accidentally fall,
        <br>   There'll be no green bottle hanging on the wall.
        <br>
        <br>
        <br>There is no green bottle standing on the wall.
        </p>}

    }
}

